body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    color: #333333;
}


a {
    color: #0066cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


h1 {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 10px;
}
h2 {
    font-size: 1.5em;
    color: #444444;
    margin-top: 20px;
}
h3 {
    font-size: 1.17em;
    color: #666666;
}


ol {
    padding-left: 20px;
    margin-bottom: 25px;
}
li {
    margin-bottom: 5px;
}
p {
    margin: 10px 0;
}